<div id="<%= dom_id comment %>">
  <p>
  <% @post.comments.each do |comment| %>
				<i>User, <%= comment.username %>, left comment:</i> <br />
				<%= comment.body %>
				<hr />
			<% end %>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

</div>
